.App {
  text-align: center;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #aaa;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell.red {
  background-color: #ff4136;
}

.cell.blue {
  background-color: blue;
}

.winner {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ff4136;
  animation: pulse 1s infinite;
}

.hidden {
  /* display: none; */
}

.btn {
  margin-top: 1em;
  cursor: pointer;
  padding: 0.3em;
  font-size: 25px;
  background: #626262;
  border: 1px solid #626262;
  color: white;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
